<div class="page">
    {{#each artists}}
    <div class="section-div">
        <img class="cover" src="{{images.0.url}}">
        <h3>{{name}}</h3>
        <a class="link" href="/albums/{{id}}">View albums</a>
    </div>
    {{/each}}
</div>

