body {
    font-family: Arial, Helvetica, sans-serif;
}

#search-artist-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(/images/spotify-background.jpeg);
    background-position: center;
    background-size: cover;
}

h1 {
    color: white;
    font-size: 60px;
    margin: 2rem;
}

form {
    display: flex;
    align-items: center;
}

.centered{
    text-align: center;
    height: 50px;
    border: none;
}

button:hover{
    color: white;
    cursor:grab;
    background-color: red;
}

input {
    width: 20vw;
}


ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#artist-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover {
    width: 30vw;
    height: 30vw;
    margin: 10px;
}

h3 {
    font-size: 20px;
}

#view-albums {
    text-align: center;
    text-decoration: none;
    color: red;
    width: 20vw;
}

#view-albums:hover {
    background-color: black;
    color: white;
}
